<!DOCTYPE html>
{{> header}}

{{> globaljs}}
<!-- page specific scripts -->
<script src="static/javascript/csv2rdf.js"></script>

<body>
    {{> navigation}}

    <div class="container">
        <div class="row">
            <fieldset>
                    <legend>Choose the CKAN entry.</legend>
                    <label>Write a CKAN entry id inside:</label>
                    <input id="CKANEntryId_Input" type="text" placeholder="CKAN Entry id...">
                    <span class="help-block">For dataset at <a href="http://publicdata.eu/dataset/staff-organograms-and-pay-joint-nature-conservation-committee">Organogram and staff pay data...</a> id will be: staff-organograms-and-pay-joint-nature-conservation-committee</span>
                    <button id="CKANEntryId_SubmitButton" type="submit" class="btn">Submit</button>
            </fieldset>
            <br/>
            <br/>
            <br/>
            <div id="CKANEntityContainer"></div>
            <br/>
            <br/>
            <br/>
            <form id="proceedToRDF" action="rdfedit.html" method=get style="display: none;">
                <input id="entityName" type=hidden name=entityName value=''>
                <input id="resourceId" type=hidden name=resourceId value=''>
                <input type=submit value='Show RDF' class="btn">
            </form>
            </fieldset>
            <div id="SparqlifiedDownloadLink"></div>
        </div>
    </div>
</body>
{{> footer}}

</html>