bin/
include/
lib/
local/
util/
docs/
./
/src/files/
/src/files_old/
/src/sparqlify_mappings/
/src/sparqlified/
/src/script_logs/
/src/files_processed/
/src/wikiconfig.py
/src/ckanconfig.py
/src/csv2rdfconfig.py
*.komodoproject
*.kpf
*.pyc
*.log
