files/
logs/
data/
sparqlified/
sparqlified_exposed/
.ropeproject/
get_exposed_rdf_list
*.pyc
*.log
*.swp
*.db
webserver_config/*
!webserver_config/templates
csv2rdf/config/config.py
csv2rdf/server/static/templates/baseUrl.mustache
csv2rdf/server/static/templates/ckaninstance.mustache
csv2rdf/server/static/templates/wikiBaseUrl.mustache
csv2rdf/server/static/templates/wikiNamespace.mustache
