<head> 
    <meta charset="utf-8">
    <title>CSV2RDF Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="CSV2RDF Application">
    <meta name="author" content="AKSW research group">

    <!-- Le styles -->
    <link href="server/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="server/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<!-- Jquery stack -->
<script src="server/static/javascript/libs/jquery/jquery-1.8.2.min.js"></script>
<script src="server/static/javascript/libs/jquery/jquery.ba-bbq.min.js"></script>
<script src="server/static/javascript/libs/jquery/jquery.mustache.js"></script>

<!-- twitter bootstrap -->
<script src="server/static/bootstrap/js/bootstrap.min.js"></script>
