<!DOCTYPE html>
{{> header}}

{{> navigation}}

{{> codemirror}}
<!--
{{> globaljs}}
-->
<!-- page specific script -->
<script type="text/javascript">
    var ckan_resource_id = "{{resource_id}}";
    var wiki_mapping_id = "{{mapping_name}}";
</script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
<script src="server/static/javascript/mapping_edit_interface.js"></script>

<body ng-app="MappingEditInterface" ng-controller="InitCtrl">
</body>

{{> footer}}
</html>
