<!DOCTYPE html>
{{> header}}
<head></head>

<body>
        {{> navigation}}
        
        <div class="jumbotron masthead">
                <div class="container">
                        <h1>CSV2RDF-Wiki Application</h1>
                        <p>CSV2RDF-Wiki is an application developed for convertion of the CKAN datasets to RDF format.</p>
                        <p>
                                <a href="csv2rdf.html" class="btn btn-primary btn-large">Try it out!</a>
                        </p>
                        <ul class="masthead-links">
                                <li>
                                        <a href="https://github.com/earthquakesan/CSV2RDF-WIKI">GitHub project</a>
                                </li>
                                <li>
                                        Version 1.0.0beta
                                </li>
                                <li>
                                The main interface for the application is <a href="http://wiki.publicdata.eu/">PublicData.eu Wiki</a>
                                </li>
                        </ul>
                </div>
        </div>        
</body>

{{> footer}}

</html>
