[global]
server.socket_host: "localhost"
server.socket_port: 8090
server.environment: "development"
engine.autoreload_on: True
tools.staticdir.root: "/home/ivan/.virtualenvs/csv2rdf/src/"

[/static]
tools.staticdir.on: True
tools.staticdir.dir: "static"

[/sparqlified]
tools.staticdir.on: True
tools.staticdir.dir: "sparqlified"